#togglePassword{
    position: absolute;
    right: 25px;
    margin-top: -27px;
    font-size: 15px;
}
#togglePassword2{
    position: absolute;
    right: 25px;
    margin-top: -27px;
    font-size: 15px;
}
#togglePassword3{
    position: absolute;
    right: 25px;
    margin-top: -27px;
    font-size: 15px;
}